<!-- 入札確認ページ -->
<%- include('../partials/header.ejs') %>
<style>
  .button1 {
    margin: 0 auto;
    font-size: 30px;
    width: 385px;
    background-color: aquamarine;
    text-align: center;
    border: 2px solid #000;
  }
  h1 {
    text-align: center;
    font-size: 25px;
  }
  p {
    font-size: 20px;
  }
  input {
    font-size: 30px;
  }
</style>
<form id="bidConfirm" class="font-sans text-sm rounded w-full max-w-md mx-auto my-8 px-8 pt-6 pb-8">
  <input type="hidden" id="listingId" name="listingId" value="<%= listing_id %>" />
  <div class="text-center">
    <h1 class="my-4 font-medium">こちらの商品に入札します。</h1>
    <p class="leading-normal mb-4 max-w-sm m-auto"><%= name %></p>
  </div>
  <div class="relative border rounded mb-4 shadow appearance-none label-floating">
    <input
      name="price"
      class="w-full py-2 px-3 text-gray-700 leading-normal rounded"
      id="price"
      type="number"
      value="<%= price %>"
      placeholder="<%= price %>"
      step="1000"
      readonly
    />
    <input name="customerId" id="customerId" type="hidden" value="<%= (locals.user.id) %>" />
  </div>
  <button class="button1" type="submit">入札</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script>
  let pageId = document.getElementById("listingId").value;
  const socketio = io();

  // サーバーへ送信
  const form = document.getElementById("bidConfirm");
  form.addEventListener("submit", (event) => {
    event.preventDefault();
    const price = document.getElementById("price").value;
    let sendData = {
      pageId: pageId,
      price: price,
    };

    // ajax
    let values = {
      listingId: document.getElementById("listingId").value,
      price: document.getElementById("price").value,
      customerId: document.getElementById("customerId").value,
    };
    $.ajax({
      type: "POST",
      data: values,
      url: "/bid/complete",
    })
      .done((data) => {
        socketio.emit("c2s", sendData);
        console.log(data);
        alert("入札完了しました。");
        location.href = "/search/bid/" + values.listingId;
      })
      .fail((data) => {
        console.log(data);
        alert("入札に失敗しました。");
      });
  });

  // サーバーから受信
  socketio.on("s2c/" + pageId, (msg) => {
    console.log(msg);
    alert("価格が変更されました。");
    let inputText = document.getElementById("price");
    inputText.value = Number(msg) + 1000;
  });
</script>
<%- include('../partials/footer.ejs') %>
